* {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova Condensed', sans-serif;
  box-sizing: border-box;
}


button {
  outline: none;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('./fonts/regular.woff'), url('../fonts/regular.woff') format('woff');
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

// preloader

.preloader {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  z-index: 999999;
  transition: 1s all;
  visibility: visible;
}

.preloader.done {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.loader {
  height: 76px;
  width: 76px;
  position: absolute;
  border: 4px solid #fff;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  border-top-color: yellow;
  transform: translate(-50%, -50%);
  animation: 2s spin infinite linear;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}